#root {
  display: flex;
  justify-content: center;

}

body {
  background-image: linear-gradient(180deg, #14131B 0%, #08070B 100%);
  height: 100%;
}

.app {
  color: var(--almost-white);
  width: 375px;
  padding: 64px 16px 63px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;


  @media (min-width: 768px) {
    width: 540px;
    padding-top: 133px;
    padding-bottom: 196px;
  }
}

.header {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--light-grey);

  @media (min-width: 768px) {
    font-size: 24px;
  }

}

.generated-password {
  padding: 17px 16px 15px;
  background: #24232c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  p {
    color: var(--almost-white, #e6e5ea);
    font-family: "JetBrains Mono", monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


    @media (min-width: 768px) {
      font-size: 32px;
    }

    &:empty:not(:focus)::before {
      content: attr(data-placeholder);
      color: var(--almost-white);
      opacity: .25;
    }
  }

  span {
    color: #a4ffaf;
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 44px;
  }

  button {
    background: none;
    border: none;
    width: 17.5px;
    height: 20px;


    &:hover {
      svg {
        path {
          fill: #fff;
        }
      }
    }

    svg {
      path {
        width: 17.5px !important;
        height: 20px !important;
      }
    }
  }
}

.password-generator {
  background: #24232c;
  padding: 16px;

  @media (min-width: 768px) {
    padding: 24px 32px 32px;
  }

  .character-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    accent-color: #a4ffaf;
    background: transparent;
    outline: none;
    width: 100%;
    margin-bottom: 42px;


    //&::-webkit-slider-runnable-track {
    //  border-radius: 0;
    //}
    //
    //&::-webkit-slider-thumb {
    //  height: 28px;
    //  width: 28px;
    //  background-color: #f8cd65;
    //}

    &[type="range"]::-webkit-slider-thumb {
      height: 28px !important;
      width: 28px !important;
      background-color: #f8cd65 !important;
      color: red !important;
    }


    label {
      color: var(--almost-white, #e6e5ea);
      font-family: "JetBrains Mono", monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    span {
      color: #a4ffaf;
      font-family: "JetBrains Mono", monospace;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (min-width: 768px) {
        font-size: 32px;
      }
    }
  }


  button:last-child {
    color: var(--dark-grey, #24232c);
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    padding: 18px 0 17px 0;
    background: var(--neon-green, #a4ffaf);
    border: none;

    @media (min-width: 768px) {
      font-size: 18px;
      height: 65px;
    }

    svg {
      margin-left: 16px;
    }

    &:hover,
    &:active {
      color: var(--neon-green, #a4ffaf);
      font-feature-settings: "clig" off, "liga" off;
      line-height: normal;
      outline: 2px solid var(--neon-green, #a4ffaf);
      background: transparent;

      svg {
        margin-left: 16px;

        path {
          fill: var(--neon-green);
        }
      }
    }
  }
}

.character-types {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    gap: 18px;
  }

  div {
    display: flex;
    gap: 20px;

    div {
      width: 20px;
      height: 20px;
      border: 2px solid var(--almost-white, #e6e5ea);

      img {
        background: #a4ffaf;
      }
    }

    label {
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  div:first-child {
    div {
    }

    label {
    }
  }

  .no-border {
    border: none;
  }
}

.password-strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  background: #18171f;
  margin-bottom: 16px;

  span {
    color: var(--grey, #817d92);
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  &-indicators {
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      font-size: 18px;
      color: var(--almost-white, #e6e5ea);
      text-align: right;
      font-family: "JetBrains Mono", monospace;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-right: 8px;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }

    div {
      width: 10px;
      height: 28px;
      border: 2px solid var(--almost-white, #e6e5ea);
    }

    .red {
      background: var(--1-red);
      border: none;
    }

    .orange {
      background: var(--2-orange);
      border: none;
    }

    .yellow {
      background: var(--3-yellow);
      border: none;
    }

    .green {
      background: var(--neon-green);
      border: none;
    }
  }
}


