#root {
  display: flex;
  justify-content: center;

}

body {
  background-image: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}

.app {
  width: 375px;
  padding: 64px 16px 63px;
  display: flex;
  flex-direction: column;
  gap: 16px;


  @media (min-width: 768px) {
    width: 540px;
  }
}

.header {
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--darkGrey);
}

.generated-password {
  padding: 17px 16px 15px;
  background: #24232c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  p {
    color: var(--almost-white, #e6e5ea);
    font-family: JetBrains Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:empty:not(:focus)::before {
      content: attr(data-placeholder);
      color: #18171f;
    }
  }

  span {
    color: #a4ffaf;
    font-family: JetBrains Mono, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 44px;
  }

  button {
    background: none;
    border: none;
    width: 17.5px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;

      &:hover {
        stroke: #e6e5ea;
      }
    }

    &:hover {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

.password-generator {
  background: #24232c;
  padding: 16px;

  .character-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    margin-bottom: 18px;

    label {
      color: var(--almost-white, #e6e5ea);
      font-family: JetBrains Mono;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    span {
      color: #a4ffaf;
      font-family: JetBrains Mono;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .character-length {
    width: 100%;
    margin-bottom: 42px;
  }

  button:last-child {
    color: var(--dark-grey, #24232c);
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    padding: 18px 0 17px 0;
    background: var(--neon-green, #a4ffaf);
    border: none;

    svg {
      margin-left: 16px;
    }

    &:hover,
    &:active {
      color: var(--neon-green, #a4ffaf);
      font-feature-settings: "clig" off, "liga" off;
      line-height: normal;
      outline: 2px solid var(--neon-green, #a4ffaf);
      background: transparent;

      svg {
        margin-left: 16px;

        path {
          fill: var(--neon-green);
        }
      }
    }

    // img {
    //   margin-left: 16px;
    // }
  }
}

.character-types {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  div {
    display: flex;
    gap: 20px;

    div {
      width: 20px;
      height: 20px;
      border: 2px solid var(--almost-white, #e6e5ea);

      img {
        background: #a4ffaf;
      }
    }

    label {
    }
  }

  div:first-child {
    div {
    }

    label {
    }
  }

  .no-border {
    border: none;
  }
}

.password-strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  background: #18171f;
  margin-bottom: 16px;

  span {
    color: var(--grey, #817d92);
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &-indicators {
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      color: var(--almost-white, #e6e5ea);
      text-align: right;
      font-family: JetBrains Mono;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-right: 8px;
    }

    div {
      width: 10px;
      height: 28px;
      border: 2px solid var(--almost-white, #e6e5ea);
    }

    .red {
      background: var(--1-red);
      border: none;
    }

    .orange {
      background: var(--2-orange);
      border: none;
    }

    .yellow {
      background: var(--3-yellow);
      border: none;
    }

    .green {
      background: var(--neon-green);
      border: none;
    }
  }
}
