* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 700;

  justify-content: center;
  --almost-white: #e6e5ea;
  --light-grey: #817d92;
  --darkGrey: #24232c;
  --very-dark-grey: #18171f;
  --neon-green: #a4ffaf;
  --3-yellow: #f8cd65;
  --2-orange: #fb7c58;
  --1-red: #f64a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @font-face {
    font-family: "JetBrains-Mono";
    src: url("./assets/fonts/JetBrainsMono-Bold.ttf") format("ttf");

    -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
    -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
  }

}

